body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #190162, #080808);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.login-container {
    background: #121212;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

/* Buttons styling */
.btn {
    background: #190162;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #2d1391;
}

/* Red Logout Button */
.logout-btn {
    background-color: #b32d00;
}

.logout-btn:hover {
    background-color: #e53935;
}
