body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #190162, #080808);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background: #121212;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background: #1e1e1e;
    color: white;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4facfe;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    background: #190162;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #2d1391;
}
