<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Welcome, Dr. {{ session['doctor_username'] }}</h1>
        <form action="{{ url_for('upload_prescription') }}">
            <input type="submit" value="Upload Prescription">
        </form>
      <a href="/" class="btn logout-btn">Logout</a>
      <a href="{{ url_for('doctor_appointments_calendar') }}" class="btn">My Calendar</a>
    </div>
</body>
</html>

