<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Reset Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>

  <div class="login-container">
    <form method="POST" class="reset-form">
      <h1>Reset Your Password</h1>
      <input type="password" name="new_password" placeholder="New Password" required>
      <button type="submit">Reset</button>
    </form>
  </div>

</body>
</html>

